@model IEnumerable<DeptEmployeeMVC.Models.Department>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container has-validation">
        <table class="table table-dark table-bordered table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DeptName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>Action</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeptName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.DeptId }) |

                        @Html.ActionLink("Delete", "Delete", new { id = item.DeptId })
                    </td>
                </tr>
            }

        </table>
        <p>
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
        </p>
        </div>
</body>
</html>
